{% extends "ne_yesem/base_res.html" %}
{% block content %}
    <div class="col-md-6">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">Hız: {{ restaurant.hiz }} Lezzet: {{ restaurant.lezzet }} Servis: {{ restaurant.servis }}</a>
            </div>
              <h2><a class="article-title" href="{% url 'restaurants_detail' restaurant.id %}">{{ restaurant.name }}</a></h2>
              {% if restaurant.acilis_zamani|date:"H:i" == "00:00" %}
                  {% if restaurant.kapanis_zamani|date:"H:i" == "23:59" %}
                      <p class="article-content"> Çalışma saatleri: 24 Saat </p>
                  {% endif %}
              {% else %}
                  <p class="article-content"> Çalışma saatleri: {{ restaurant.acilis_zamani|date:"H:i" }} - {{ restaurant.kapanis_zamani|date:"H:i" }}</p>
              {% endif %}
              {% if restaurant.haftasonu %}
                  <p class="article-content"> Hatfa içi ve hafta sonu açık.</p>
              {% else %}
                  <p class="article-content"> Sadece hafta içi açık.</p>
              {% endif %}
              <p class="article-content"> <a href="{% url 'restaurant_comments' restaurant.id %}">Yorumları getir.</a> </p>
              <p class="article-content">Hizmet Verilen Semtler:</p>
              {% for semt in semts %}
                  <small class="text-muted"> {{ semt.semt_mahalle_adi }}</small><br>
              {% endfor %}
          </div>
        </article>
    </div>
{% endblock content %}
{% block content1 %}
    <div class="col-md-6">
        <div class="content-section">
            <h3>Menu</h3>
            <p class='text-muted'>
                {% for menu in menus %}
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light"> {{ menu.yemek }}  {{ menu.fiyat|floatformat:-2 }} TL</li>
                  </ul>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock content1 %}